* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    background: rgb(196, 177, 196);
}

.wrapper {
    margin-left: 174px;
    margin-top: -132px;
}

.card1 {
    background-color: #dfe6e0;
    width: 1250px;
    padding: 20px;
    border-radius: -1px;
    margin-top: 190px;
    padding: 38px;
}

h1 {
    font-size: 32px;

    font-weight: 400;

    margin-top: 30px;

    margin-left: 679px;
}

.img1 {
    position: absolute;
    display: block;
    padding: 0;
    margin: -55px 0 0 0;
    list-style: none;
    line-height: 18px;
    cursor: pointer;
    margin-top: -35px;
    margin-left: -2px;
    max-width: 100% !important;
    max-height: 202px;
}

p {

    display: flex;

    margin-left: 320px;

    font-size: 16px;

    color: black;

    font-weight: 500;
}

.see {

    font-size: 20px;

    font-weight: 600;

    margin-bottom: 10px;
}
